{{ define "main" }}

  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
            {{.Content }}
          </div>
          <p class="font-secondary">Veröffentlicht am {{ .Params.Date.Format "02. Jan 2006" }} von <span class="text-primary">{{.Params.Author}}</span></p>
        </div>
      </div>
    </div>
  </section>

{{ end }}